llama-index
faiss-cpu==1.7.2
sentence-transformers
numpy==1.24.4
accelerate
pypdf
llama-index-vector-stores-faiss
llama-index-embeddings-langchain
llama-index-embeddings-huggingface
llama-index-llms-huggingface
langchain-community 
langchain-core
sentence-splitter
langchain-community 
langchain-core 
sentence-splitter
fastapi
uvicorn[standard]
jinja2 
python-multipart